---
---

@import "{{ site.theme }}";

body {
    font-family: Suisse,Helvetica,Arial,sans-serif;
}

table {
    font-size: 0.8rem;
}

.page-header {
    padding: 5rem 6rem;
    background-image: none;
    background-color: #332f62;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #332f62;
}

footer {
    display: none !important;
}

.btn {
    display: none !important;
}